<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolflix</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>

    <div id="app">

        <div class="input-area">
            <input type="text" 
                    placeholder="inserisci un titolo" 
                    name="searchbar" 
                    id="searchbar"
                    v-model="search"
                    @keyup.enter="filterMovie()"
                    @keyup.enter="filterTVshow()"> 
            <button @click="filterMovie()">vai
            </button>
        </div>

        <div v-for="movie in movies" class="movie-list">
            <div class="movie-id">
                
                <div class="title"><span>Titolo:</span> {{movie.title}}</div>

                <div class="orginal-title"><span>Titolo orginale:</span> {{movie.original_title}}</div>

                <div class="orginal-language">
                    <span>Lingua originale: 
                        <span v-if="movie.original_language === 'it' || movie.original_language === 'en' ">
                            <img :src="`./images/${movie.original_language}.png`" alt="original language"> 
                        </span>
                        <span v-else>
                            {{movie.original_language}}
                        </span>
                    </span> 
                </div>

                <div class="vote">
                    <span>Voto:</span>
                     <i v-for="n in getVote(movie.vote_average)"  class="fas fa-star"></i>
                     <i v-for="n in 5 - getVote(movie.vote_average)"  class="far fa-star"></i>
                </div>

            </div>
        </div>

       
       


  
     

    </div>
    

    <script src="./javascript/main.js"></script>
</body>
</html>